{% extends 'models/fixed.html' %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="box-title">
                数据标注
            </h1>
            <br>
            <div>
                <form action="" method="POST">
                    <label>选择数据集</label>
                    <select name="table_name" id="dataset">
                        <option data-tokens="nobody">{{ table_name }}</option>
                        {% for name in data_names %}
                            <option value="{{ name }}">
                                {{ name }}
                            </option>
                        {% endfor %}
                    </select>

                    <label style="margin-left: 10px;">开始时间</label>

                    <input type="datetime-local" name="start_time" value={{ start_time }}>

                    <label style="margin-left: 10px">结束时间</label>
                    <input type="datetime-local" name="end_time" value={{ end_time }}>

                    <label style="margin-left: 10px;">选择标签</label>
                    <select name="label">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="所有" selected>所有</option>
                    </select>
                    {#                <button type="button" id="query" class="btn btn-info btn-sm" value="查询">查询</button>#}
                    <button type="submit" name="kind" style="margin-left: 10px;" id="label2zero"
                            class="btn btn-info btn-sm"
                            value="query">查询
                    </button>
                    <button type="submit" name="kind" style="margin-left: 10px;" id="label2zero"
                            class="btn btn-danger btn-sm"
                            value="change">全部更改
                    </button>
                    <label style="margin-left: 10px">复选框操作：</label>
                    <button type="button" id="label2zero" class="btn btn-warning btn-sm"
                            value="" onclick="clickLabel2Zero()">标签置为0
                    </button>
                    <button type="button" style="margin-left: 0px;" id="label2one" class="btn btn-warning btn-sm"
                            value="" onclick="clickLabel2One()">标签置为1
                    </button>
                </form>


            </div>
        </section>

        <section class="content container-fluid">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th width="5%"><input id="checkAll" class="checkAll" type="checkbox" value="">
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="display: none; position: relative">
                                            id
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending"
                                            style="position: relative">
                                            时间
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="position: relative">
                                            kpi
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending"
                                            style="position: relative">
                                            标签
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="otbody">
                                    {% for data in datas %}
                                        <tr role="row" class="odd">
                                            <td><input type="checkbox" name="checkItem"/></td>
                                            {#                                            <td style="display: none;">#}
                                            <td style="display: none;" id="rowId">{{ data.0 }}</td>
                                            <td>{{ data.1|date:"Y-m-d H:i:s" }}</td>
                                            <td>{{ data.2 }}</td>
                                            <td>{{ data.3 }}</td>
                                            <td><button id="btn1" class="btn btn-info btn-sm pull-right">标记</button></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">


        $(document).ready(function () {

            var table = $('#example1').DataTable({

                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "drawCallback": function (settings) {
                    $("#th1").removeClass("sorting_asc");
                },
                "aoColumnDefs": [{"bSortable": false, "aTargets": [0]}],
            });
            $('#example1 tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                var rowNum = $(this).closest("tr").index();
                var labelValue = document.getElementById('otbody').rows[rowNum].cells[4].textContent;
                // tmp是更改后的值
                labelValue = (parseInt(labelValue) + 1) % 2;
                document.getElementById('otbody').rows[rowNum].cells[4].innerText = labelValue;

                // 获取文件名称, 数据ID为data[1], 数据值为labelValue
                var dataSetName = $("#dataset option:selected").text();
                {#alert(dataSetName.text());#}
                {#alert(data[1]);#}
                {#alert(data[0] + "'s salary is: " + data[4]);#}
                {#alert(dataSetName + " " + data[1] + " " + labelValue);#}
                $.ajax({
                    type: "POST",
                    url: "/models/update_one_label/",
                    data: {data_set_name: dataSetName, id: data[1], label_value: labelValue},
                });
            });

        });

        function clickLabel2One() {
            var id_array = new Array();
            var row_array = new Array();
            $('input[name="checkItem"]:checked').each(function () {
                var row = $(this).parent("td").parent("tr");
                row_array.push(row.index());
                {#alert(row.text());#}
                var ids = row.find("[id='rowId']").text().replace(/\n|\r|\t/g,"");//注意html()和val()
                id_array.push(ids);
                this.checked = false;
            });
            var idstr = id_array.join(',');//将数组元素连接起来以构建一个字符串
            var dataSetName = $("#dataset option:selected").text();
            alert(idstr);
            for(i of row_array) {
                document.getElementById('otbody').rows[i].cells[4].innerText = 1;
            }
            $.ajax({
                    type: "POST",
                    url: "/models/update_batch_label/",
                    data: {data_set_name: dataSetName, id: idstr, label_value: 1},
                });
        }


        function clickLabel2Zero() {
            var id_array = new Array();
            var row_array = new Array();
            $('input[name="checkItem"]:checked').each(function () {
                var row = $(this).parent("td").parent("tr");
                row_array.push(row.index());
                {#alert(row.text());#}
                var ids = row.find("[id='rowId']").text().replace(/\n|\r|\t/g,"");//注意html()和val()
                id_array.push(ids);
                this.checked = false;
            });
            var idstr = id_array.join(',');//将数组元素连接起来以构建一个字符串
            var dataSetName = $("#dataset option:selected").text();
            alert(idstr);
            for(i of row_array) {
                document.getElementById('otbody').rows[i].cells[4].innerText = 0;
            }
            $.ajax({
                    type: "POST",
                    url: "/models/update_batch_label/",
                    data: {data_set_name: dataSetName, id: idstr, label_value: 0},
                });
        }


        {#全选和全不选#}
        $('#checkAll').on('click', function () {
            if (this.checked) {
                $(this).attr('checked', 'checked');
                $("input[name='checkItem']").each(function () {
                    this.checked = true;
                });
            } else {
                $(this).removeAttr('checked');
                $("input[name='checkItem']").each(function () {
                    this.checked = false;
                });
            }
        });

        function childclick() {
            if ($(this).is(":checked") == false) {
                $("#checkAll").prop("checked", false);
            }
        }

        function checkbox() {
            var uuid = '';
            var uuids = eloancn.table.grid.rows(".selected").data();
            if (uuids.length == 0) {
                alert(eloancn.table.statusTitle);
            } else {
                for (var i = 0; i < uuids.length; i++) {
                    uuid = uuid + uuids[i].extn + ",";
                }
                alert(uuid);
            }
        }
    </script>
{% endblock %}

