{% extends 'models/fixed.html' %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="box-title">
                趋势预测模型信息
            </h1>
        </section>
        <section class="content container-fluid">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="position: relative">
                                            数据来源
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="position: relative">
                                            模型名称
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="position: relative">
                                            模型创建时间
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="position: relative">
                                            模型最后更新时间
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending"
                                            style="position: relative">
                                            均方根误差
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="position: relative">
                                            最后预测时间
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in datas %}
                                        <tr role="row" class="odd">
                                            <td>
                                                {{ data.0 }}
                                            </td>
                                            <td>
                                                {{ data.1 }}
                                            </td>
                                            <td>
                                                {{ data.5|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td>
                                                {{ data.6|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td>
                                                {{ data.2 }}
                                            </td>
                                            <td>
                                                {{ data.3|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td>
                                                <button id="btn1" class="btn btn-info btn-sm ">
                                                    重置模型
                                                </button>
                                                <button id="btn2" class="btn btn-info btn-sm">
                                                    预测趋势
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">重置模型</h4>
                    </div>
                    <div class="modal-body">
                        <p>模型后台重置训练中......</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'rowCallback': function (row, data, index) {
                    number = data[4].split(" ");
                    rms = parseFloat(number[0]);
                    if (rms > 100) {
                        $(row).find('td:eq(4)').css('background-color', 'rgb(233, 104, 107)');
                        $(row).find('td:eq(4)').css('class', 'btn-danger');
                        {#$(row).find('td:eq(3)').css('button', 'rgb(233, 104, 107)');#}
                        $(row).find(btn1).css('class', 'btn-danger');
                    } else if (rms > 50) {
                        $(row).find('td:eq(4)').css('background-color', 'orange');
                    } else {
                        $(row).find('td:eq(4)').css('background-color', '#32cd32');
                    }

                }
            });
            $('#example1 tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = $(this).attr('id');
                if (id == "btn1") {
                    $("#myModal1").modal();
                    setTimeout(function () {
                        $("#myModal1").modal('hide');
                    }, 3000);
                    $.ajax({
                        type: "POST",
                        url: "/models/reset_lstm_model/",
                        data: {data_name: data[0]},
                    });
                } else if (id == "btn2") {
                    window.location.href = "/models/predict/";
                    /*
                    $.ajax({
                        type: "POST",
                        url: "/models/predict/",
                        data: {model_name: data[0]},
                        success:function () {
                            window.location.href = "/models/predict/";
                        }
                    });
                    */
                }
            });
        });
    </script>
{% endblock %}

