{% extends 'models/fixed.html' %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="box-title">
                趋势预测模型信息
            </h1>
        </section>
        <section class="content container-fluid">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example2_info" >
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="position: relative">
                                            数据来源
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="position: relative">
                                            模型名称
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="position: relative">
                                            模型创建时间
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="position: relative">
                                            模型最后更新时间
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending"
                                            style="position: relative">
                                            均方根误差
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="position: relative">
                                             最后预测时间
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in datas %}
                                        <tr role="row" class="odd">
                                            <td >
                                                {{ data.0 }}
                                            </td>
                                            <td >
                                                {{ data.1 }}
                                            </td>
                                            <td>
                                                {{ data.5|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td>
                                                {{ data.6|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td >
                                                {{ data.2 }}
                                                <button id="btn1" class="btn  btn-default pull-right">
                                                    重置模型
                                                </button>
                                            </td>
                                            <td>
                                                {{ data.3|date:"Y-m-d H:i:s" }}
                                                <button id="btn2" class="btn btn-default pull-right">
                                                    预测趋势
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'rowCallback': function (row, data, index) {
                    number = data[3].split(" ");
                    rms = parseFloat(number[0]);
                    if (rms> 100) {
                        $(row).find('td:eq(3)').css('background-color', 'rgb(233, 104, 107)');
                        $(row).find('td:eq(3)').css('class', 'btn-danger');
                        {#$(row).find('td:eq(3)').css('button', 'rgb(233, 104, 107)');#}
                        $(row).find(btn1).css('class', 'btn-danger');
                    }
                    else if(rms >50){
                        $(row).find('td:eq(3)').css('background-color', 'orange');
                    }
                    else  {
                        $(row).find('td:eq(3)').css('background-color', '#32cd32');
                    }

                }
            });
            $('#example1 tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = $(this).attr('id');
                alert(data[0] + "'s salary is: " + data[1] + "button is " + id);
            });

        });
    </script>
{% endblock %}

