{% extends 'models/fixed.html' %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="box-title">
                异常检测模型信息
            </h1>
        </section>
        <section class="content container-fluid">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="position: relative">
                                            数据来源
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="position: relative">
                                            模型名称
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending"
                                            style="position: relative">
                                            精确率
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="position: relative">
                                            召回率
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending"
                                            style="position: relative">
                                            f1
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                            style="position: relative">
                                            训练数据量
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="create time: activate to sort column ascending"
                                            style="position: relative">
                                            创建时间
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="lasted update time: activate to sort column ascending"
                                            style="position: relative">
                                            最后更新
                                        </th>
                                        <th>
                                            是否需要重新训练
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in datas %}
                                        <tr role="row" class="odd">
                                            <td width="13%">
                                                {{ data.0 }}
                                            </td>
                                            <td width="20%">
                                                {{ data.1 }}
                                            </td>
                                            <td width="7%">
                                                {{ data.2 }}
                                            </td>
                                            <td width="7%">
                                                {{ data.3 }}
                                            </td>
                                            <td width="5%">
                                                {{ data.4 }}
                                            </td>
                                            <td width="8%">
                                                {{ data.5 }}
                                            </td>
                                            <td width="10%">
                                                {{ data.8|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td width="10%">
                                                {{ data.9|date:"Y-m-d H:i:s" }}
                                            </td>
                                            <td width="11%">
                                                {{ data.6 }}
                                                <button type="button" id="crop"
                                                        class="btn btn-info btn-default pull-right" data-toggle="modal"
                                                        data-target="#myModal1">
                                                    重置模型
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">重置模型</h4>
                    </div>
                    <div class="modal-body">
                        <p>模型后台重置中......</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,

                'rowCallback': function (row, data, index) {

                    if (data[4] < 0.5) {
                        $(row).find('td:eq(4)').css('background-color', 'rgb(233, 104, 107)');
                    } else if (data[4] < 0.7) {
                        $(row).find('td:eq(4)').css('background-color', 'orange');
                    } else {
                        $(row).find('td:eq(4)').css('background-color', '#32cd32');
                    }
                }
            });
            $('#example1 tbody').on('click', 'button', function () {
                {#var data = table.row($(this).parents('tr')).data();#}
                {#alert(data[0] + "'s salary is: " + data[5]);#}

                document.getElementById("crop").setAttribute("disabled", true);

            });

        });
    </script>
{% endblock %}

