.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.col-md-2 {
    width: 16.66666667%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

